/exercise10/nbproject/private/
/exercise9/nbproject/private/
/exercise9/build/
/exericse10/nbproject/private/
/exericse10/build/
/exercise11/nbproject/private/
/exercise11/build/
/exercise12/nbproject/private/
/exercise10/build/
/exercise12/build/
/exercise13/nbproject/private/
/exercise13/build/
/Chapter2/nbproject/private/